bokeh==1.4.0
cssselect==1.1.0
demjson==2.2.4
Jinja2==2.11.3
lxml==4.6.3
numpy==1.20.1
packaging==20.9
Pillow==8.2.0
git+https://github.com/eskerda/pybikes.git
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
Shapely==1.8a1
six==1.15.0
tornado==6.1
